.container{
    border: 5px solid #000000;
    display: flex;
    justify-content: flex-end;
}
.container > div{
    
    padding: 10px;
    text-align: center;
    font-size: 14sp;
    color: rgb(255, 255, 255);
    border: 2px solid;
    background-color: rgb(3, 5, 94);
}

.search{
    width: 20px;
}

.logo{
    margin-right: auto;
    border-radius: 50%;
}

h2{
    color: white;
    background-color: grey;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 20px;
    padding-right: 30px;
    text-align:center;
}

