h2{
    color:yellow;
}


table, th, td {
border: 1px solid black;
}

.badminton{color:aqua}
#bultang{color:red}

a[target]{background-color: blueviolet;}

body{background:url(https://cdn-brilio-net.akamaized.net/webp//news/2017/02/12/119264/580778-edit-young-lex.jpg);}